.todo-list {
    margin-top: 1rem;
    text-align: left;
    list-style: none;
}
.todo-item {
    font-family: monospace;
    cursor: pointer;
    line-height: 1.5;
}
.todo-item__text--completed {
    text-decoration: line-through;
    color: lightgray;
}
